<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card >
      <ion-img src="https://tse2.mm.bing.net/th?id=OIP.KUllDB8chlfSsMHZBQAudAHaE7&pid=Api&P=0&w=257&h=172"></ion-img>
      <ion-card-header>
      <ion-card-subtitle>
        Bem Vindo A Sua Loja 
      </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      <p>
      Compre aqui um sapato barato !
      </p>
      
      </ion-card-content>
  </ion-card>
</ion-content>
